<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="ClientId" value="000000004C181609"/>
    <add key="DevToken" value="014BT1U389334786"/>
    <add key="CustomerId" value="15310009"/>
    <add key="AccountId" value="44131149"/>
  </appSettings>
</configuration>
